:root {
  --main-bg-color: #edf5fe;
}

body {
  font-family: system-ui;
  background: var(--main-bg-color);
  height: 98vh;
}

body,
.upload-container,
.drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-container {
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 20px 20px 0px #00000017;
}

.drop-zone {
  width: 500px;
  min-height: 200px;
  border: 2px dashed #0288d147;
  border-radius: 10px;
  margin: 30px;
  transition: .2s all ease-in;
}

/* will be added when user drags */
.drop-zone.dragged{
    background: var(--main-bg-color);
    border-color: #0288d1;
}

.drop-zone input {
    display: none;
}

.icon-container {
  position: relative;
  width: 75px;
  height: 100px;
}

.icon-container img {
  width: 75px;
  position: absolute;
  transition: transform 0.25s ease-in-out;
  transform-origin: bottom;
}


.icon-container .center {
  z-index: 10;
}
.icon-container .right,
.icon-container .left {
  filter: grayscale(0.5);
  transform: scale(0.9);
}

.dragged .center{
  transform: translateY(-5px);
}
.dragged .right {
  transform: rotate(10deg) scale(0.9) translateX(20px);
}
.dragged .left {
  transform: rotate(-10deg) scale(0.9) translateX(-20px);
}

.title {
  font-size: large;
}

#browseBtn {
  color: #2196f3;
  cursor: pointer;
}

/* uploading progress styles */
.progress-container{
  border: 2px solid var(--main-bg-color);
  width: 500px;
  height: 70px;
  border-radius: 10px;
  margin-bottom: 25px;
  position: relative;
  display: none;
}

.progress-container .inner-container{
  margin: 10px 15px;
  z-index: 2;
  position: absolute;
  width: calc(100% - 30px);
}

.progress-container .percent-container{
  font-size: 14px;
  margin: 5px;
  opacity: .7;
}

.progress-container .bg-progress{
  position: absolute;
  background: var(--main-bg-color);
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: transform 250ms linear;
  transform: scaleX(0);
  transform-origin: left;
}

.progress-container .progress-bar{
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: #03a9f4;
  transition: transform 200ms linear;
  transform: scaleX(0);
  transform-origin: left;
}